* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

:root {
--LightCyan: hsl(193, 38%, 86%);
--NeonGreen: hsl(150, 100%, 66%);
--GrayishBlue: hsl(217, 19%, 38%);
--DarkGrayishBlue: hsl(217, 19%, 24%);
--DarkBlue: hsl(218, 23%, 16%);
}

body {
    max-height: 100vh;
    font-family: 'Manrope', sans-serif;
    Font-size: 28px;
    background-color: var(--DarkBlue);
    margin: 10rem .5rem;
}

svg {
    max-width: 100%;
}

.container {
    
    max-width: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--DarkGrayishBlue);
    color:var(--LightCyan);
    padding: 2rem;
    margin: 5rem auto;
    border-radius: 10px;
    text-align: center;
}

.advice-id {
    color: var(--NeonGreen);
    text-transform: uppercase;
    font-size: .7rem;
    letter-spacing: .2rem;
}

.advice-content {
    min-height: 200px;
}

.svg {
    position:absolute;
    bottom: -43px;
    right: 50%;
    transform: translateX(50%);
}

.svg-sec {
    position:relative;
}

.background:hover {
    cursor: pointer;
    box-shadow: 0 0 15px hsl(150, 100%, 66%) ;
}

.svg:hover {
    cursor: pointer;
}

.background {
    position: absolute;
    top: 3px;
    right: 50%;
    transform: translateX(50%);
    width: 55px;
    height: 55px;
    background-color: var(--NeonGreen);
    padding: 15px;
    border-radius: 50%;
}