/* Reset */

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

svg {
    max-width: 100%;
}

/* Root */
:root {
--LightCyan: hsl(193, 38%, 86%);
--NeonGreen: hsl(150, 100%, 66%);
--GrayishBlue: hsl(217, 19%, 38%);
--DarkGrayishBlue: hsl(217, 19%, 24%);
--DarkBlue: hsl(218, 23%, 16%);
}

/* General styles */
body {
    max-height: 100vh;
    font-family: 'Manrope', sans-serif;
    Font-size: 28px;
    background-color: var(--DarkBlue);
    margin: 10rem .5rem;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 500px;
    text-align: center;
    background-color: var(--DarkGrayishBlue);
    color:var(--LightCyan);
    padding: 2rem;
    margin: 5rem auto;
    border-radius: 10px;
    
}

.advice-id {
    color: var(--NeonGreen);
    text-transform: uppercase;
    font-size: .7rem;
    letter-spacing: .2rem;
}

.advice-content {
    min-height: 180px;
}

picture {
    margin-bottom: 2rem;
}

.svg {
  transform: scale(1.2);
}

.svg-sec {
    position:absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50% , 50%);
    display:flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: aqua;
    transition: box-shadow .3s ease;
}

.svg-sec:hover {
    cursor: pointer;
    box-shadow: 0 0 20px hsl(150, 100%, 66%) ;
}

.pop-up {
    animation: pop-up .5s 1;
}

@keyframes pop-up {
    0% { transform: scale(0); }
  100% { transform: scale(1); }
}


